.heroThumbnail{
    max-width: 500px;
    max-height: 500px;
}
.ComicTitle{
    font-family: "Bebas Neue", cursive;
    font-size: 24px;
}
.comicThumbnail{
    max-width: 500px;
    max-height: 550px;
}

@media (max-width: 800px)  {

    .comicThumbnail{
        max-width: 500px;
        max-height: 400px;
    }


}

@media (max-width: 600px)  {

    .heroThumbnail{
        max-width: 300;
        max-height: 300px;
    }
    .heroDetails{
        font-size: 20px;
    }

}

@media (max-width: 400px)  {

    .heroDetails{
        font-size: 24px;
    }
    .heroDetailsContainer{
        flex-direction: column;
    }
    .comicThumbnail{
        max-width: 300px;
        max-height: 300px;
    }

}
